# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "b6d437a7d969cd77e40e9cb95583c5fd"
name = "Bould"
application_url = "https://reporters-continuously-hispanic-probe.trycloudflare.com"
embedded = true
handle = "bould"

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2025-04"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [
  "https://reporters-continuously-hispanic-probe.trycloudflare.com/auth/callback",
  "https://reporters-continuously-hispanic-probe.trycloudflare.com/auth/shopify/callback",
  "https://reporters-continuously-hispanic-probe.trycloudflare.com/api/auth/callback"
]

[app_proxy]
url = "https://reporters-continuously-hispanic-probe.trycloudflare.com/app/proxy"
subpath = "bould"
prefix = "apps"

[pos]
embedded = false
